pipeline/stored_ procedure_pipeilne_insert.json
{
	"name": "stored_ procedure_pipeilne_insert",
	"properties": {
		"activities": [
			{
				"name": "LK-insert",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable_NewEmployees",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "each_emp",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LK-insert",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LK-insert').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SP_insert_emp",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[insertemp]",
								"storedProcedureParameters": {
									"id": {
										"value": {
											"value": "@item().id",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"name": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQL",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-04-09T20:34:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}